@media screen and (max-width: 678px) {
  .burger {
    display: block;
  }
  .nav {
    margin: 0;
    background: #343434;
    position: absolute;
    right: 0;
    top: 70px;
    width: 50%;
    height: calc(100% - 70px);
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
  }
  .navlink {
    text-align: center;
  }
}
