html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: bisque;
}
header {
  width: 100%;
  height: auto;
  display: flex;
  align-items: top;
  justify-content: space-between;
  background: #232323;
  color: #ccc;
}
.home-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background: #232323;
  color: #ccc;
}
.content-container {
  display: flex;
  justify-content: space-between;
}

.left-panel {
  flex-direction: column;
  position: relative;
  border-left: none;
  border-top: none;
  padding: 20px;
  height: auto;
  width: 80%;
}
.page-nav-container {
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  background-color: #232323;
  bottom: 0;
}
.page-nav-button {
  height: fit-content;
  width: fit-content;

  border: 2px solid black;
  border-radius: 4px;
  padding: 15px;
  font-size: 18px;
}
.page-nav-button-prev {
  height: fit-content;
  width: fit-content;
  margin-left: 1px;
  position: fixed;
  left: 0;
  bottom: 0;
  border: 2px solid black;
  border-radius: 4px;
  padding: 15px;
  font-size: 18px;
}
.next {
  background-color: yellowgreen;
}
.prev {
  background-color: firebrick;
}
.start-button {
  padding: 20px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  color: green;
  background-color: gold;
}
.text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}
.link {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}
.code {
  font-size: 18px;
  position: relative;
}
.stack {
  color: red;
}
.resource-footer {
  margin-bottom: 150px;
}
